.clinical{
    margin-top: 100px;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.speciality-div{
    width: 700px;
}

.speciality{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.heading-speciality{
    color:rgb(88, 89, 91);
    font-size: 38px;
    font-weight: 600;
    margin: 0;
}

.special{
    margin-top: 20px;
    margin-left: 30px;
    width: 300px;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    color: blue;
    border-bottom:1px solid orangered;
}

.speciality-button-div{
    margin-top: 30px;
    margin-left: 30px;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
}

.speciality-button{
    border: none;
    border-radius: 12px;
    width: 150px;
    height:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(16, 40, 81, 0.12) 0px 0px 36px 0px;
    cursor: pointer;
}

.speciality-button:hover{
    background-color:rgb(57, 140, 224);
}

.speciality-button-text{
    font-size: 13px;
    color:rgb(22, 22, 22);
}

.speciality-button:hover .speciality-button-text{
    color: gold;
}

.speciality-button-img{
    width: 50px;
}

.doctor-gif-class{
    width:600px;
    height: 600px;
    margin-left: 40px;
}