.header{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:1300px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(219, 219, 222);
}

.left{
    
}

.middle{
    background-color: orange;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
}

.marquee-class{
    width: 800px;
    display: flex;
    align-items: center;
}

.marquee-img{
    width:30px;
}

.marquee-text{
    font-size: 20px;
    color:black;
    vertical-align: top;
}

.img{
    width:60px;
}

.right{
    
}

.emergency{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 180px;
    height:60px;
    background-color: rgb(230, 4, 4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border: none;
    /* border-radius:8px; */
    color: white;
    font-size: 12px;
    font-weight: 700;
    transition: color 0.15s;
    cursor: pointer;
}

.emergency:hover{
    background-color: rgb(101, 132, 244);;
    color:black;
}

.email{
    padding-top: 8px;
    padding-bottom: 8px;
    /* padding:8px 20px 8px 20px; */
    width: 180px;
    height:60px;
    background-color: rgb(51, 185, 234);
    border: none;
    /* border-radius:8px; */
    color:black;
    font-size: 12px;
    font-weight: 700;
    transition: color 0.15s;
    cursor: pointer;
}

.email:hover{
    color:white;
    background-color: rgb(101, 132, 244);
}



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.menu-bar{
    background-color: white;
    height: 80px;
    width:1380px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    align-items: center;
}

.menu-bar ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.menu-bar ul li{
    width:300px;
    position:relative;
    padding:10px 30px;
    text-align: center;
}

.menu-bar ul li a{
    font-size: 13px;
    font-weight: 600;;
    color:black;
    text-decoration: none;
}

.menu-bar ul li a:hover{
    color:rgb(0, 124, 157);
}

.dropdown-menu{
    display:none;
    width:230px;
    z-index: 999;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.175);
    box-shadow: 0px 0px 20px rgba(106, 134, 143, 0.47);
    border-radius: 6px;
}

.dropdown-menu ul{
    
}

.dropdown-menu ul li{
    margin: 0;
    font-size: 14px;
}

.menu-bar ul li:hover .dropdown-menu{
    display: block;
    position: absolute;
    left:10px;
    top:100%;
    background-color: white;
}

.menu-bar ul li:hover .dropdown-menu ul{
    display:block;
    
}

.menu-bar ul li:hover .dropdown-menu ul li{
    width: 220px;
}




.big-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 0px;
    row-gap: 60px;
}

.container{
    width: 525px;
    height: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
}

.top{
    
    display: grid;
    grid-template-columns: 150px 1fr;
    border-bottom: 1px solid gray;
}
    

.img-container{
      
}

.img-container .doctor_img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 20px;
}

.details .doctor-name{
    font-size: 14px;
    font-weight: 700;
    color: rgb(246, 140, 66);
}

.details .doctor-studies{
    color: rgb(126, 126, 126);
    font-size: 13px;
    font-weight: 400;
}

/* .details .registration{
    color: rgb(126, 126, 126);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0;
}

.details .number{
    margin-top: 0;
    font-size: 15px;
    font-size: 700;
} */

/* .details .languages{
    font-size: 14px;
    font-size: 700;
} */

.details .experience{
    display: flex;
    align-items: center;
}

.details .experience img{
    width: 30px;
    margin-right: 10px;
    margin-bottom: 0;
}

.details .experience .exp{
    margin-top: 0;
    font-size: 15px;
    color: rgb(126, 126, 126);
    margin-bottom: 0;
}

.location{
    margin-top: 0;
    display: flex;
    align-items: center;
}

.location .location-img{
    margin-top: 0;
    width:25px;
    height:25px;  
    margin-right: 14px;
}

.location .location-desp{
    color:rgb(126, 126, 126);
    font-size: 15px;
}

.bottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.timings{
   margin-left: 15px;
}
.timings .day{
    color:rgb(93, 93, 93);
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
}

.timings .time{
    color:rgb(93, 93, 93);
    margin-top: 0px;
    font-size: 13px;
    font-weight: 700;
}

.book-button{
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border-width: 0.8px;
    border-style:solid;
    border-color: rgb(2, 69, 148);
    border-radius: 20px;
    color: rgb(2, 69, 148);
    cursor: pointer;

    margin-left: 200px;
}

.book-button:hover{
    background-color: rgb(2, 69, 148);
    color: white;
}